
html, body {
    margin: 0;
    padding: 0;
}

.hide-before-load {
    display: none;
}

.full-screen {
    width:100vw;
    height: 100vh;
}
.header-content{
    padding:2rem;
}

h1{
    font-size:40px;
}

h2{
    font-size: 35px;
    margin-bottom: 5rem;
}

h3 {
    font-size: 20px;
}

.info-card, .support-card{
    border-radius: 25px;
    
}

.info-card i {
    margin-bottom:0;
}


.support-card{
    padding:0;
    overflow: hidden;
    padding-bottom: 5rem;
}

.support-card p{
    padding-left: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

.support-card img {
    max-width: 100px;
}
.anim-col {
    margin-top: 15px;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    padding:0;
}

.donate-btn{
    border-radius:15px;
}

.donate-btn i {
    margin: 0;
}
.no-padding {
    padding:0;
}

.secondary-text {
    color:#6c757d;
}

.secondary{
    background:#6c757d;
}

.smooth-shadow {
    box-shadow: 0 2px 13px rgba(0,0,0,0.2), 0 10px 14px rgba(0,0,0,0.3);
}
.mt {
    margin-top: 3.5rem;
}

header.container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.overlay-txt {
    position: absolute;
    font-size: 25px;
}

.slides li img {
    filter: brightness(50%);
    filter: blur(2px);
}

.transparent-bg {
    backdrop-filter:blur(10px);
    background: rgba(255,255,255,0.05);
}

.slider-img-100{
    width:100%;
}
header.container > img {
    width: 100%;
}
.fixed-bar{
    position: fixed;
    top:0;
}
.start-row {
    padding-top: 25px;
}
.anim-col img {
    border-radius: 25px;
}

.z-index-overlap-1{
    z-index:999;
}

.z-index-overlap-2{
    z-index:1000;
}

.sidenav {
    padding-top: 2.5rem;
}

.fixed-bottom-text {
    bottom:0;
    position: fixed;
}

.rubik-100 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.rubik-200 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.rubik-300 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-600 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.slide-in-anim {
    transform: translateY(30%);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 3s linear;
}
